body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #6C63FF;
    display: flex;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    background-color: white;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

button {
    margin: 12px 0;
    padding: 12px;
    color: white;
    background: #00BFA6;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px #00917d;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #00917d;
}